:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;

    --font-primary: "Roboto", sans-serif;
    --font-logo: "Raleway", sans-serif;

    --indent-x:40px;

    --border-radius: 4px;
}

/* ================== BODY ================== */
body {
    color: var(--slate);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--white);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

/* navigation */

.container{
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    border:solid red 1px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_nav{
  
}
.header-nav{
    display: flex;
    align-items: center;
    flex-direction: row ;
}
.header-nav > a{
    margin-left: 76px;
}
.header-logo {
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
}

.header-logo-accent {
    color: var(--navy-blue);
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* gap: 40px; */
    gap: var(--indent-x);
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

/* ADDRESS */
.header-address {
    font-style: normal;
    border: 1px solid green;
   
}

.address-list {
    list-style: none;
    display: flex;
    gap: var(--indent-x);
   margin-right: auto;

}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}
.address-link{
    text-decoration: none;
}

/* ================== HERO SECTION ================== */

/* HERO SECTION */
.hero {
    background-color: #2e2f42;
    padding: 188px 292px;
    margin-bottom: 48px;
}
.hero-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-btn {
    background-color: #4d5ae5;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    padding: 16px 32px;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* ================== SECTION TITLES ================== */

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}


/* FEATURES SECTION */
.features{
    padding: 120px 156px;
}
.features-list {
    list-style: none;
    max-width: 1128px;
    justify-content: space-between;
    gap: 24px;
    padding: 0; 
}

.features-item{
    display: block;
    flex-basis: calc((100% - 72px) / 4);
    border: 1px solid violet;
    /* gap: 8px; */
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

/* ================== TEAM (3a) ================== */
/* TEAM SECTION */

.team {
    background-color: var(--cloud);
    padding: 120px 156px;
}

.team-list {
    list-style: none;
    border-radius: 0 0 4px 4px;
    padding: 0;
}
.section-title{
    margin-bottom: 72px;
}

.team-item {
    background-color: var(--white);
    display: block;
    flex-basis: calc((100% - 72px) / 4);
    border: 1px solid violet;
    text-align: center;
    
}
.team-item > img{
    margin-bottom: 32px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 32px;
}

/* ================== PORTFOLIO (4a) ================== */

/* PORTFOLIO SECTION */

.portfolio-list {
    list-style: none;

}

.portfolio-item {
    background-color: var(--white);
    border: 1px solid var(--cornflower);
    display: block;
    flex-basis: calc((100% - 48px) / 3);
    outline:  1px solid violet;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ================== FOOTER ================== */

/* ================== FOOTER ================== */

.footer {
    background-color: var(--navy-blue);
    /* #2e2f42 */
}

.footer-logo {
    font-family: var(--font-logo);
    /* Raleway */
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    /* #4d5ae5 */
}

.footer-logo-accent {
    color: var(--cloud);
    /* #f4f4fd */
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}