:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;
}

/* ===== RESET ===== */
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

/* ===== BODY ===== */
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
    font-size: 16px;
    line-height: 1.5;
}

/* ===== UTILITIES ===== */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/* ===== HEADER ===== */
.header {
    border-bottom: 1px solid var(--cornflower);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
    margin-right: 76px;
}

.logo-accent {
    color: var(--navy-blue);
}

.nav-list {
    display: flex;
    gap: 40px;
    
}

.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
    padding: 24px 0;
    display: inline-block;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

/* ===== CONTACTS ===== */
.contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean);
}

/* ===== HERO ===== */
.hero {
    background-color: var(--navy-blue);
    padding: 188px 0;
}

.hero-container {
    text-align: center;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);
}

.hero-btn {
    padding: 16px 32px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    border: none;
    cursor: pointer;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    height: 56px;
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
}

/* ===== FEATURES ===== */
.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.features-text {
    letter-spacing: 0.02em;
}

/* ===== TEAM ===== */

.section-title{
    text-align: center;
    margin-bottom: 72px;
}
.team {
    background-color: var(--cloud);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: var(--white);
    text-align: center;
}

.team-name {
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.team-role {
    margin-bottom: 32px;
    letter-spacing: 0.02em;
}

/* ===== PORTFOLIO ===== */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolio-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-type {
    letter-spacing: 0.02em;
}

/* ===== FOOTER ===== */
.footer {
    padding: 100px 0;
    background-color: var(--navy-blue);
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-accent-footer {
    color: var(--cloud);
}

.footer-text {
    max-width: 264px;
    letter-spacing: 0.02em;
    color: var(--cloud);
}